.resourceList {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.resourceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 10px;
    gap: 10px;
}

.resourceItem.online {
    background-color: #c8e6c9;
}

.resourceItem.offline {
    background-color: #ffcdd2;
}

.resourceName {
    font-weight: bold;
}

.resourceUrl {
    color: #666;
}

.resourceStatus {
    text-transform: uppercase;
    font-weight: bold;
}
