.main-container {
    display: flex;
}

.sidebar-container {
    margin: 20px;
    width: 300px;
    height: 500px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.outlet-container {
    flex: 1;
    margin: 20px;
    background-color: rgb(230, 230, 230);
}
