.main-container {
    display: flex;
}

.sidebar-container {
    height: 300px;
    margin: 30px;
    width: 300px;
    background-color: rgb(230, 230, 230);
}

.outlet-container {
    width: 100%;
    margin: 30px;
    background-color: rgb(230, 230, 230);
}
