.navbar-container {
    width: 100%;
    height: 60px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar-left {
    order: 1;
}

.navbar-right {
    order: 2;
}
